@inherits LayoutComponentBase

<div class="page">
    <FluentLayout Orientation="Orientation.Vertical">
        <FluentHeader>
            <FluentEmoji Value="@(new Emojis.PeopleBody.Color.Default.Brain())" /> Memory Tester
        </FluentHeader>

        <div class="content">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                @Body
            </main>
        </div>

        <FluentFooter>
            Version @AppInfo.Current.VersionString
        </FluentFooter>
    </FluentLayout>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
